<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Auction Site</title>
</head>
<body>
    <nav class="w-full h-[5rem] flex justify-around items-center">
        <a href="/" class="text-4xl">Auction Site</a>
        {{#if logged_in}}
        <div>
        <button class="text-lg border-2 p-2 bg-blue-200" id="logout-btn">logout</button>
        <a class="text-lg border-2 p-2 bg-blue-200" href="/product/newproduct">List an Item</a>
        </div>
        {{else}}
        <a class="text-lg border-2 p-2 bg-blue-200" href="/user">login</a>
        {{/if}}
    </nav>
    {{{body}}}




   <script>
    document.querySelector('#logout-btn').addEventListener("click", () => {
        fetch("/user/logout", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            }).then(res => {
        if (res.ok) {
            location.replace('/');
        } else (
            console.log(res.statusText)
        )
    })
    })
   </script>
</body>
</html>