<div class="flex flex-row">
<form class="form m-2 login" id="create-form"> 
    <div class="flex flex-col">
    <h3>Create account</h3>
    <input id="email" type="text" placeholder="email">
    <input id="create-username" type="text" placeholder="username">
    <input id="create-password" type="text" placeholder="password">
    <button type="submit">Submit</button>
    </div>
</form>
<form class="form m-2 login" id="login-form"> 
    <div class="flex flex-col">
    <h3>Existing Users Login</h3>
    <input id="login-username" type="text" placeholder="username">
    <input id="login-password" type="text" placeholder="password">
    <button type="submit">Submit</button>
    </div>
</form>
</div>

<script>
    const createForm = document.querySelector("#create-form");
    const loginForm = document.querySelector("#login-form");

    //Create user function
    createForm.addEventListener("submit", (e) => {
        const email = document.querySelector('#email').value.trim()
        const username = document.querySelector('#create-username').value.trim()
        const password = document.querySelector('#create-password').value.trim()
        e.preventDefault()
        const creds = {
            email: email,
            user_name: username,
            password: password
        }
        console.log(creds);
        fetch("/user/createuser", {
        method: 'POST',
        body: JSON.stringify(creds),
        headers: { 'Content-Type': 'application/json' },
    }).then(res => {
        if (res.ok) {
            console.log(res)
      document.location.replace('/');
    } else {
     console.log(response.statusText);
    }
    })
    });

    //Existing User Login function
    loginForm.addEventListener("submit", (e) => {
        const username = document.querySelector('#login-username').value.trim()
        const password = document.querySelector('#login-password').value.trim()
        e.preventDefault()
        const creds = {
            user_name: username,
            password: password
        }
        console.log(creds)
        fetch("/user/login", {
        method: 'POST',
        body: JSON.stringify(creds),
        headers: { 'Content-Type': 'application/json' },
    }).then(res => {
        if (res.ok) {
      document.location.replace('/');
    } else {
     console.log(response.statusText);
    }
    })
    })
    
</script>