<main class="flex flex-row">
    <img src="" alt="product image goes here">
    <div>
    <h1>{{product.product_name}}</h1>
    <p>selling by: {{product.user_id}}</p>
    <p>{{product.description}}</p>
    <p>Current bid: </p>
    <p>Place bid:</p>
    <p> Bidding history:</p>




    </div>
</main>